/* Genel Ayarlar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* Beyaz arka plan */
  color: #333;
  text-align: center;
}

/* Header ve Logo */
header {
  background-color: white; /* Header'ın arka planı beyaz */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  text-align: left;
  margin-left: 20px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

nav {
  background-color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #FFDEE9;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #B5FFFC;
}

/* Oyun Kartları */
.games {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.game-card {
  position: relative;
  background-color: white;
  width: 400px;
  height: 400px; /* Kartın yüksekliğini artırdık */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.game-card:hover {
  transform: scale(1.05);
}

/* Resim ve İçerik Ayrımı */
.game-image {
  width: 100%;
  height: 100%; /* Resim alanının yüksekliği kartın yüksekliğiyle uyumlu olacak */
  overflow: hidden; /* İçeriğin taşmaması için */
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resmi kapsayıcı alanı tamamen dolduracak şekilde ayarla */
  display: block; /* Görseldeki boşlukları ortadan kaldırır */
}

/* Kart içeriği */
.card-content {
  position: absolute;
  top: 5%; /* Kartın üst kısmına yapışacak şekilde */
  left: 0;
  width: 100%; /* Kartın tamamını kapsayacak şekilde */
  height: 100%; /* Kartın tamamını kapsayacak şekilde */
  color: #333;
  background-color: #FFDEE9;
  padding: 20px;
  border-radius: 8px;
  display: none; /* Başlangıçta içerik gizli */
  text-align: center;
  overflow-y: auto; /* İçerik fazla olduğunda kaydırma çubuğu ekler */
}

.card-content h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.card-content h4 {
  font-size: 18px;
  color: black;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 14px;
  color: black;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Kart Hover Etkileşimi */
.game-card:hover .card-content {
  display: block;  /* Yalnızca üzerine gelinen kartın içeriğini göster */
}

.game-card:hover img {
  opacity: 0; /* Yalnızca üzerine gelinen karttaki resim kaybolur */
}

/* Footer */
footer {
  background-color: #FFDEE9;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
